<ul class="footer-list">
    <li class="footer-list-item"><span class="footer-list-link menu-home">Home</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-about">About</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-gallery">View Gallery</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-participate">Participate</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-dermoscopedia">Dermoscopedia</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-upload">Upload</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-api">API</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-learning-competitions">Machine Learning Competitions</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-terms-of-use">Terms of Use</span></li>
    <li class="footer-list-item"><span class="footer-list-link menu-privacy-policy">Privacy Policy</span></li>
    <li class="footer-list-item tooltip-container">
        <span class="footer-list-link menu-medical-disclaimer tooltip-title">Medical Disclaimer</span>
        <span class="tooltip-block tooltip-block-top">All information on this website is for education and information purposes only. For specific medical advice, diagnoses, and treatment, seek expert, specific medical care. Click the link below to see our Medical Disclaimer in its entirety.</span>
    </li>
    <li class="footer-list-item"><span class="footer-list-link menu-contact">Contact</span></li>
</ul>