<div class="inner-page-content">

	<div class="recommend-block">
		<p class="recommend-block-content">The ISIC recommends that dataset contributors choose the <b>CC-0</b> or <b>CC-BY</b> licenses whenever possible.</p>
	</div>

	<div class="dataset-licenses-block-wrap">

		<div class="dataset-licenses-block">
			<h4 class="main-subtitle3 dataset-licenses-title dataset-licenses-title-cc0">CC-0 (No restrictions)</h4>
			<p>CC-0 enables scientists, educators, artists and other creators and
			owners of copyright- or database-protected content to waive those
			interests in their works and thereby place them as completely as
			possible in the public domain, so that others may freely build upon,
			enhance and reuse the works for any purposes without restriction under
			copyright or database law.</p>
			<p><a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" rel="nofollow" class="link">View License Deed</a></p>
		</div>

		<div class="dataset-licenses-block">
			<h4 class="main-subtitle3 dataset-licenses-title dataset-licenses-title-ccby">CC-BY (Attribution)</h4>
			<p>This license lets others distribute, remix, tweak, and build upon your
			work, even commercially, as long as they credit you for the original
			creation.</p>
			<p><a href="https://creativecommons.org/licenses/by/4.0" target="_blank" rel="nofollow" class="link">View License Deed</a></p>
		</div>

		<div class="dataset-licenses-block">
			<h4 class="main-subtitle3 dataset-licenses-title dataset-licenses-title-ccbync">CC-BY-NC (Attribution-NonCommercial)</h4>
			<p>This license lets others remix, tweak, and build upon your work
			non-commercially, and although their new works must also acknowledge
			you and be non-commercial, they don’t have to license their derivative
			works on the same terms.</p>
			<p><a href="https://creativecommons.org/licenses/by-nc/4.0" target="_blank" rel="nofollow" class="link">View License Deed</a></p>
		</div>

	</div>

</div>