<div class="grid upload-btn-block">
    <button type="button" class="upload-btn batch-upload-btn">
        <span class="upload-btn-content">
            <span class="upload-btn-icon">
                <svg viewBox="0 0 80 70" class="upload-btn-icon-svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#batch-icon" class="upload-btn-icon-svg-use"></use>
                </svg>
            </span>
            <span class="upload-btn-info">
                <span class="upload-btn-title">Batch Upload</span>
                <span class="upload-btn-subtitle">ZIP File</span>
            </span>
        </span>
    </button>
    <button type="button" class="upload-btn wizzard-upload-btn">
        <span class="upload-btn-content">
            <span class="upload-btn-icon">
                <svg viewBox="0 0 60 60" class="upload-btn-icon-svg">
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#wizzard-icon" class="upload-btn-icon-svg-use"></use>
                </svg>
            </span>
            <span class="upload-btn-info">
                <span class="upload-btn-title">Wizard Tool</span>
                <span class="upload-btn-subtitle">Upload Tool</span>
            </span>
        </span>
    </button>
</div>