<div class="inner-page-content">

    <div class="inner-contact-block">
        <p>
            <span class="contact-name">Angel Cummings</span>
            <span class="contact-job">ISDIS Treasurer</span>
            University Dermatology Center<br>
            Muncie, IN<br>
            (800) 450-4548 x259
        </p>
    </div>


    <div class="inner-contact-block">
        <p>
            <span class="contact-name">Aadi Kalloo</span>
            <span class="contact-job">Website Administrator</span>
            admin@isic-archive.com<br>
            Memorial Sloan Kettering Cancer Center<br>
            New York, NY<br>
            646-888-6272
        </p>
    </div>

</div>