<div class="inner-page-content">

	<h2 class="main-subtitle2">The need for skin lesion imaging standards</h2>

	<p>The proliferation of dermatologic imaging has evolved without benefit of dermatology specific DICOM (Digital Communication) standards as exist for other medical specialties.
		This has been in part the result of the absence of a sizeable dermatologic imaging industry, as most dermatologic photography can be accomplished with ‘off the shelf’ equipment.
		The more recent ‘mobile’ technology era has further complicated the ability to set technical standards that can keep up with the rapid changes in the technologies.
	</p>

	<p>In both the medical and public realms, the optimal use of images for education, diagnosis, telediagnosis, patient triage, mole monitoring, documentation, and coordination
		of care will all benefit from the development of three categories of standards that help to insure Quality, Privacy, and Interoperability:
	</p>

	<ul>
		<li>QUALITY: While there may be subtle differences in the quality needed for different applications (e.g., diagnosis v. documentation), images failing to meet minimal
			quality (e.g., spatial resolution, color accuracy, clarity of focus) will undermine their clinical utility.
		</li>
		<li>PRIVACY: As in all other medical applications, standards are needed to insure the privacy of dermatology images and the personal health information
			associated with the images.
		</li>
		<li>INTEROPERABILITY: To optimize the usefulness of dermatologic images, standards are needed to insure that images and their associated ‘metadata’
			can be effectively shared between systems and providers.
		</li>
	</ul>

	<p>The required standards to insure image quality, privacy, and interoperability fall into three main categories:</p>

	<ul>
		<li>Technology Standards: The ubiquitous availability of off the shelf digital cameras and camera enabled ‘smart’ phones has promoted wider use of imaging
			for lesion assessment and documentation while introducing considerable technologic diversity. Standards are needed to insure adequacy and compatibility
			of these images as relates to resolution, processing, metadata, compression, and encryption.
		</li>
		<li>Technique Standards: There are many variations in the current application of lesion imaging. Standard approaches to patient and lesion identification,
			documentation of lesion attributes, and image acquisition (e.g., poses, lighting, magnification, use of size and color calibration markers) will help insure image quality,
			data integrity, and image comparability.
		</li>
		<li>Terminology Standards: Considerable variability exists in the application of specific terms to describe anatomic sites, diagnoses, and clinical/dermoscopic/histologic morphology.
			A lexicon of standardized terminology will facilitate teaching, content based retrieval, and comparison of&nbsp;images.
			<ul>
				<li>Metadata: Data elements associated with or embedded in images relate to the subject of the image (e.g., demographics, diagnosis, morphology),
					technical details (e.g., capture device, settings, etc.) and technique details (e.g., poses, orientation, etc.). Standardized collection and
					representation of the data elements associated with an image impacts the usefulness and interoperability of the images.
				</li>
				<li>Privacy: Patient/subject privacy is a paramount concern in all medical applications. In addition to privacy of the metadata associated with images,
					the images themselves can contain identifiable elements that risk a breach of privacy. Standards that help to insure maintenance of privacy and
					appropriate consent for use and sharing of images and their associated metadata are needed.
				</li>
			</ul>
		</li>
	</ul>

</div>