<div class="inner-page-content">

    <h2 class="main-subtitle2">Overview</h2>

    <p>The International Skin Imaging Collaboration: Melanoma Project is an academia and industry partnership designed to facilitate the application of digital skin imaging
        to help reduce melanoma mortality. When recognized and treated in its earliest stages, melanoma is readily curable. Digital images of skin lesions can be used
        to educate professionals and the public in melanoma recognition as well as directly aid in the diagnosis of melanoma through teledermatology, clinical decision support,
        and automated diagnosis. Currently, a lack of standards for dermatologic imaging undermines the quality and usefulness of skin lesion imaging.
        ISIC is developing proposed standards to address the technologies, techniques, and terminology used in skin imaging with special attention to the issues
        of privacy and interoperability (i.e., the ability to share images across technology and clinical platforms). In addition, ISIC has developed and is expanding&nbsp;an open
        source public access archive&nbsp;of skin images to test and validate the proposed standards.
        This archive serves&nbsp;as a public resource of images for teaching and for the development and testing of automated diagnostic systems.
    </p>

    <h2 class="main-subtitle2">The challenge</h2>

    <p>The incidence of cutaneous melanoma, the most lethal of all the skin cancers, has risen every year since 1979 . Although most cases occur after the age of 40,
        incidence is rising among younger women, thanks in part to the increased use of tanning beds and other artificial tanning devices.
    </p>

    <p>When melanoma is diagnosed while still confined to the outer layers of the skin, simple excision is generally curative and the 5-year relative survival rate is approximately 98% .
        Unfortunately, despite the amenability of melanoma to early diagnosis through simple visual inspection, many patients continue to be diagnosed with more advanced disease.
        As a result, over 9,000 Americans die of melanoma each year.
    </p>

    <p>The need to improve the efficiency, effectiveness, and accuracy of melanoma diagnosis is clear. The personal and financial costs of failing to diagnose melanoma early are considerable.
        On the other hand, inexpert screening for melanoma can lead to numerous unnecessary biopsies and excisions of benign skin lesions that resemble melanoma.
    </p>

    <h2 class="main-subtitle2">Evolution of digital imaging in skin lesion diagnosis</h2>

    <p>Although skin lesions are visible to the naked eye, early-stage melanomas may be difficult to distinguish from benign skin lesions with similar appearances.
        This has led to many missed melanomas despite an epidemic of skin biopsies. The number of unnecessary biopsies varies by clinical setting, the expertise of the examiner,
        and the application of technology. For example, in children in whom melanoma rates are low and changing moles are common, there are over 500,000 biopsies a year to diagnose
        approximately 400 melanomas.
    </p>

    <p>Dermatologists who specialize in skin cancer routinely employ total body photography and dermatoscopy as diagnostic tools for the detection and diagnosis of melanomas.
        Total body photography permits the early detection of changing lesions and avoidance of biopsy of stable lesions. Dermatoscopes, simple hand held devices that eliminate surface
        glare and magnify structures invisible to the “naked eye”, significantly improve the distinction of melanomas from other skin lesions. When used by skin cancer specialists,
        total body photography and dermoscopy make it possible to detect melanoma very early in its evolution, while decreasing the number of unnecessary biopsies and improving
        recognition of atypical lesions. In clinical trials, training in dermoscopy or sequential imaging led to improvements in early detection of melanoma for both non-specialist
        dermatologists and primary care physicians. Specialized systems for image acquisition, storage, and retrieval have been developed for physicians to facilitate total body
        photography assisted follow up and digital dermoscopic monitoring.
    </p>

    <p>The adoption of technological aids for melanoma detection by dermatologists in general practice and primary care physicians — who constitute the front line in melanoma
        detection — has been slow due to cost and inconvenience. This is changing due to the mobile revolution as smart phone based digital cameras and dermatoscopes enter
        the professional market.
    </p>

    <p>In addition, there has been a proliferation of apps for the public. While the potential of consumer apps to educate and aid in melanoma detection is great,
        the first generation apps have evolved without regulation or oversight. The availability of inaccurate self-diagnosis” apps may lead some patients to delay
        a consultation with a clinician. Indeed, a small study of the accuracy of some of these apps endorses this concern. As of February 9th 2015, the FDA (Food and Drug Administration)
        has assumed responsibility for regulation of consumer diagnostic apps and on February 23, 2015 the FTC (Federal Trade Commission) fined app makers for false advertising.
    </p>

    <h2 class="main-subtitle2">Goal of the isic melanoma project</h2>

    <p>The overarching goal of the ISIC Melanoma Project is to support efforts to reduce melanoma-related deaths and unnecessary biopsies by improving the accuracy and efficiency
        of melanoma early detection. To this end the ISIC is developing proposed digital imaging standards and creating a public archive of clinical and dermoscopic images of skin lesions.
    </p>

</div>

