<div class="inner-page-content">

	<h2 class="main-subtitle2">Literature</h2>

	<table class="inner-table">
		<thead class="inner-table-head">
		<tr>
			<th class="literature-col-year">Year</th>
			<th class="literature-col-type">Type</th>
			<th class="literature-col-publication">Publication</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1702.07963.pdf" target="_blank" rel="noopener">"Spatially Aware Melanoma Segmentation Using Hybrid Deep Learning Techniques"</a></div>
				<div>Attia, M and Hossny, Mustafa and Nahavandi, Saeid and Yazdabadi, Anousha</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1702.07963</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7950522/" target="_blank" rel="noopener">"Skin melanoma segmentation using recurrent and convolutional neural networks"</a></div>
				<div>Attia, Mohamed and Hossny, Mohamed and Nahavandi, Saeid and Yazdabadi, Anousha</div>
				<div><span class="literature-emphasis">Biomedical Imaging (ISBI 2017), 2017 IEEE 14th International Symposium on</span>, IEEE, 292--296.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/abs/1703.00523" target="_blank" rel="noopener">"ISIC 2017-Skin Lesion Analysis Towards Melanoma Detection"</a></div>
				<div>Berseth, Matt</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.00523</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1703/1703.04197.pdf" target="_blank" rel="noopener">"Automatic Skin Lesion Analysis using Large-scale
					Dermoscopy Images and Deep Residual Networks"</a></div>
				<div>Bi, Lei and Kim, Jinman and Ahn, Euijoon and Feng, Dagan</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.04197</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7950583/" target="_blank" rel="noopener">"Semi-Automatic Skin Lesion Segmentation via Fully Convolutional Networks"</a></div>
				<div>Bi, Lei and Kim, Jinman and Ahn, Euijoon and Feng, Dagan and Fulham, Michael</div>
				<div><span class="literature-emphasis">Biomedical Imaging (ISBI 2017), 2017 IEEE 14th International Symposium on, IEEE</span>, ISBI, 561--564.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://upcommons.upc.edu/bitstream/handle/2117/105582/analytics3-Marques.pdf?sequence=1&amp;isAllowed=y" target="_blank" rel="noopener">"The impact of
					segmentation on the accuracy and sensitivity of a melanoma classifier based on skin lesion images"</a></div>
				<div>Burdick, Jack and Marques, Oge and Romero-Lopez, Adrià and Giró Nieto, Xavier and Weinthal, Janet</div>
				<div><span class="literature-emphasis">SIIM 2017 scientific program: Pittsburgh, PA, June 1-June 3, 2017, David L. Lawrence Convention Center</span>, 1--6.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.00534.pdf" target="_blank" rel="noopener">"Skin cancer reorganization and classification with deep neural network"</a></div>
				<div>Chang, Hao</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.00534</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1710.05006.pdf" target="_blank" rel="noopener">"Skin Lesion Analysis Toward Melanoma Detection: A Challenge at the 2017
					International Symposium on Biomedical Imaging (ISBI), Hosted by the International Skin Imaging Collaboration (ISIC)"</a></div>
				<div>Codella, Noel CF and Gutman, David and Celebi, M Emre and Helba, Brian and Marchetti, Michael A and Dusza, Stephen W and Kalloo, Aadi and Liopyris,
					Konstantinos and Mishra, Nabin and Kittler, Harald and Halpern, Allan</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1710.05006</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="http://arxiv.org/abs/1702.07025" target="_blank" rel="noopener">"Increasing Deep Learning Melanoma Classification by Classical And Expert Knowledge
					Based Image Transforms"</a></div>
				<div>Cristina Nader Vasconcelos and Bárbara Nader Vasconcelos</div>
				<div><span class="literature-emphasis">CoRR</span>, abs/1702.07025.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.01402.pdf" target="_blank" rel="noopener">"Skin Lesion Classification Using Deep Multi-scale Convolutional Neural Networks"</a></div>
				<div>DeVries, Terrance and Ramachandram, Dhanesh</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.01402</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.01976.pdf" target="_blank" rel="noopener">"Incorporating the Knowledge of Dermatologists to Convolutional Neural Networks
					for the Diagnosis of Skin Lesions"</a></div>
				<div>Díaz, Iván González</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.01976</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.nature.com/nature/journal/v542/n7639/pdf/nature21056.pdf" target="_blank" rel="noopener">"Dermatologist-level classification of skin
					cancer with deep neural networks"</a></div>
				<div>Esteva, Andre and Kuprel, Brett and Novoa, Roberto A and Ko, Justin and Swetter, Susan M and Blau, Helen M and Thrun, Sebastian</div>
				<div><span class="literature-emphasis">Nature</span>, Nature Research, 542(7639), 115--118.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.03702.pdf" target="_blank" rel="noopener">"Data-Driven Color Augmentation Techniques for Deep Skin Image Analysis"</a></div>
				<div>Galdran, Adrian and Alvarez-Gila, Aitor and Meyer, Maria Ines and Saratxaga, Cristina L and Araújo, Teresa and Garrote, Estibaliz and Aresta,
					Guilherme and Costa, Pedro and Mendonça, Ana Maria and Campilho, Aurélio</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.03702</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.03888.pdf" target="_blank" rel="noopener">"Segmentation of skin lesions based on fuzzy classification of pixels and histogram
					thresholding"</a></div>
				<div>Garcia-Arroyo, Jose Luis and Garcia-Zapirain, Begonya</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.03888</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.03186.pdf" target="_blank" rel="noopener">"Segmenting Dermoscopic Images"</a></div>
				<div>Guarracino, Mario Rosario and Maddalena, Lucia</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.03186</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/abs/1703.05148" target="_blank" rel="noopener">"Random Forests and VGG-NET: An Algorithm for the ISIC 2017 Skin Lesion Classification
					Challenge"</a></div>
				<div>Guo, Songtao and Luo, Yixin and Song, Yanzhi</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.05148</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1705/1705.03360.pdf" target="_blank" rel="noopener">"Skin lesion detection based on an ensemble
					of deep convolutional neural network"</a></div>
				<div>Harangi, Balazs</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1705.03360</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.01053.pdf" target="_blank" rel="noopener">"Skin Lesion Classification using Class Activation Map"</a></div>
				<div>Jia, Xi and Shen, Linlin</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.01053</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1702/1702.08717.pdf" target="_blank" rel="noopener">"An Extensive Technique to Detect and Analyze Melanoma:
					A Challenge at the International Symposium on Biomedical Imaging (ISBI) 2017"</a></div>
				<div>Jiji, G Wiselin and Raj, P</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1702.08717</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://link.springer.com/chapter/10.1007/978-3-319-60699-6_81" target="_blank" rel="noopener">"Deep convolutional neural networks as a decision
					support tool in medical problems--malignant melanoma case study"</a></div>
				<div>Kwasigroch, Arkadiusz and Mikołajczyk, Agnieszka and Grochowski, Michał</div>
				<div><span class="literature-emphasis">Polish Control Conference</span>, Springer, 848--856.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/abs/1703.00577" target="_blank" rel="noopener">"Skin Lesion Analysis Towards Melanoma Detection Using Deep Learning Network"</a></div>
				<div>Li, Yuexiang and Shen, Linlin</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.00577</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1702.08434.pdf" target="_blank" rel="noopener">"Skin Lesion Classification Using Hybrid Deep Neural Networks"</a></div>
				<div>Mahbod, Amirreza and Ecker, Rupert and Ellinger, Isabella</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1702.08434</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="http://www.jaad.org/article/S0190-9622(17)32202-8/abstract" target="_blank" rel="noopener">"Results of the 2016 International Skin Imaging
					Collaboration International Symposium on Biomedical Imaging challenge: Comparison of the accuracy of computer algorithms to dermatologists for the diagnosis
					of melanoma from dermoscopic images"</a></div>
				<div>Marchetti, Michael A and Codella, Noel CF and Dusza, Stephen W and Gutman, David A and Helba, Brian and
					Kalloo, Aadi and Mishra, Nabin and Carrera, Cristina and Celebi, M Emre and DeFazio, Jennifer L and James, Natalia and Marghoob, Ashfaq A and Quigley, Elizabeth
					and Scope, Alon and Yelamos, Oriol and Halpern, Allan C</div>
				<div><span class="literature-emphasis">Journal of the American Academy of Dermatology</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1703/1703.03108.pdf" target="_blank" rel="noopener">"Image Classification of Melanoma, Nevus and Seborrheic
					Keratosis by Deep Neural Network Ensemble"</a></div>
				<div>Matsunaga, Kazuhisa and Hamada, Akira and Minagawa, Akane and Koga, Hiroshi</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.03108</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.07479.pdf" target="_blank" rel="noopener">"Knowledge transfer for melanoma screening with deep learning"</a></div>
				<div>Menegola, Afonso and Fornaciali, Michel and Pires, Ramon and Bittencourt, Flávia Vasques and Avila, Sandra and Valle, Eduardo</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.07479</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.04819.pdf" target="_blank" rel="noopener">"RECOD Titans at ISIC Challenge 2017"</a></div>
				<div>Menegola, Afonso and Tavares, Julia and Fornaciali, Michel and Li, Lin Tzy and Avila, Sandra and Valle, Eduardo</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.04819</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/abs/1703.04364" target="_blank" rel="noopener">"Deep Learning for Skin Lesion Classification"</a></div>
				<div>Mirunalini, P and Chandrabose, Aravindan and Gokul, Vignesh and Jaisakthi, SM</div><div><span class="literature-emphasis">arXiv preprint arXiv:1703.04364</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1703/1703.05235.pdf" target="_blank" rel="noopener">"Transfer Learning for Melanoma Detection: Participation
					in ISIC 2017 Skin Lesion Classification Challenge"</a></div>
				<div>Murphree, Dennis H and Ngufor, Che</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.05235</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Master's Thesis</td>
			<td>
				<div><a href="http://kth.diva-portal.org/smash/get/diva2:1109613/FULLTEXT01.pdf" target="_blank" rel="noopener">"Use of Deep Learning in Detection of Skin
					Cancer and Prevention of Melanoma"</a></div>
				<div>Papanastasiou, Maria</div>
				<div><span class="literature-emphasis">KTH, School of Technology and Health (STH), Department of Medical Engineering</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1705.08078.pdf" target="_blank" rel="noopener">"Patchnet: Interpretable Neural Networks for Image Classification"</a></div>
				<div>Radhakrishnan, Adityanarayanan and Durham, Charles and Soylemezoglu, Ali and Uhler, Caroline</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1705.08078</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Other</td>
			<td>
				<div><a href="http://www.diva-portal.org/smash/get/diva2:1112097/FULLTEXT01.pdf" target="_blank" rel="noopener">"Training Set Size for Skin Cancer Classification
					Using Google's Inception v3"</a></div>
				<div>Ridell, Patric and Spett, Henning</div>
				<div><span class="literature-emphasis">KTH, School of Computer Science and Communication</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>B.S. Thesis</td>
			<td>
				<div><a href="https://upcommons.upc.edu/bitstream/handle/2117/100559/TFG-memoria.pdf" target="_blank" rel="noopener">"Skin lesion detection from dermoscopic images
					using convolutional neural networks"</a></div>
				<div>Romero López, Adrià</div>
				<div><span class="literature-emphasis">Universitat Politècnica de Catalunya</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.00856.pdf" target="_blank" rel="noopener">"Araguaia Medical Vision Lab at ISIC 2017 Skin Lesion Classification Challenge"</a></div>
				<div>Sousa, Rafael Teixeira and de Moraes, Larissa Vasconcellos</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.00856</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1702.07025.pdf" target="_blank" rel="noopener">"Increasing Deep Learning Melanoma Classification by Classical And Expert
					Knowledge Based Image Transforms"</a></div>
				<div>Vasconcelos, Cristina Nader and Vasconcelos, Bárbara Nader</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1702.07025</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1703/1703.01025.pdf" target="_blank" rel="noopener">"A Novel Multi-task Deep Learning Model for Skin Lesion
					Segmentation and Classification"</a></div>
				<div>Yang, Xulei and Zeng, Zeng and Yeo, Si Yong and Tan, Colin and Tey, Hong Liang and Su, Yi</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.01025</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7792699/" target="_blank" rel="noopener">"Automated melanoma recognition in dermoscopy images via very deep
					residual networks"</a></div>
				<div>Yu, Lequan and Chen, Hao and Dou, Qi and Qin, Jing and Heng, Pheng-Ann</div>
				<div><span class="literature-emphasis">IEEE transactions on medical imaging</span>, IEEE, 36(4), 994--1004.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.05165.pdf" target="_blank" rel="noopener">"Automatic skin lesion segmentation with fully convolutional-deconvolutional networks"</a></div>
				<div>Yuan, Yading and Chao, Ming and Lo, Yeh-Chi</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.05165</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/abs/1703.02182" target="_blank" rel="noopener">"Using Deep Learning Method for Classification: A Proposed Algorithm for the ISIC 2017
					Skin Lesion Classification Challenge"</a></div>
				<div>Zhang, Wenhao and Gao, Liangcai and Liu, Runtao</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1703.02182</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/27074267" target="_blank" rel="noopener">"Validity and reliability of dermoscopic criteria used to differentiate
					nevi from melanoma: a web-based international dermoscopy society study"</a></div>
				<div>Carrera, Cristina and Marchetti, Michael A and Dusza, Stephen W and Argenziano, Giuseppe and Braun, Ralph P and Halpern, Allan C and Jaimes, Natalia and Kittler,
					Harald J and Malvehy, Josep and Menzies, Scott W and others</div>
				<div><span class="literature-emphasis">JAMA dermatology</span>, American Medical Association, 152(7), 798--806.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1610/1610.04662.pdf" target="_blank" rel="noopener">"Deep learning ensembles for melanoma recognition in dermoscopy images"</a></div>
				<div>Codella, Noel and Nguyen, Quoc-Bao and Pankanti, Sharath and Gutman, David and Helba, Brian and Halpern, Allan and Smith, John R</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1610.04662</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1605.01397.pdf" target="_blank" rel="noopener">"Skin lesion analysis toward melanoma detection: A challenge at the international
					symposium on biomedical imaging (ISBI) 2016, hosted by the international skin imaging collaboration (ISIC)"</a></div>
				<div>Gutman, David and Codella, Noel CF and Celebi, Emre and Helba, Brian and Marchetti, Michael and Mishra, Nabin and Halpern, Allan</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1605.01397</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7764580/" target="_blank" rel="noopener">"Improving skin lesion segmentation in dermoscopic images by thin artefacts
					removal methods"</a></div>
				<div>Majtner, Tomas and Lidayova, Kristına and Yildirim-Yayilgan, Sule and Hardeberg, Jon Yngve</div>
				<div><span class="literature-emphasis">Visual Information Processing (EUVIP), 2016 6th European Workshop on</span>, IEEE, 1--6.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7821017/" target="_blank" rel="noopener">"Combining deep learning and hand-crafted features for skin lesion classification"</a></div>
				<div>Majtner, Tomas and Yildirim-Yayilgan, Sule and Hardeberg, Jon Yngve</div>
				<div><span class="literature-emphasis">Image Processing Theory Tools and Applications (IPTA), 2016 6th International Conference on</span>, IEEE, 1--6.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Journal</td>
			<td>
				<div><a href="https://arxiv.org/ftp/arxiv/papers/1601/1601.07843.pdf" target="_blank" rel="noopener">"An overview of melanoma detection in dermoscopy images using
					image processing and machine learning"</a></div>
				<div>Mishra, Nabin K and Celebi, M Emre</div>
				<div><span class="literature-emphasis">arXiv preprint arXiv:1601.07843</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/27543236" target="_blank" rel="noopener">"Computer-aided classification of melanocytic lesions using dermoscopic images:
					Low reported accuracy for reader study on melanomas with low melanoma in situ to invasive melanoma ratio"</a></div>
				<div>Schumacher, Bryce and Mishra, Nabin K and Dusza, Stephen W and Halpern, Allan C and Stoecker, William V</div>
				<div><span class="literature-emphasis">Journal of the American Academy of Dermatology</span>, Elsevier, 75(3), e119--e120.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7890944/" target="_blank" rel="noopener">"A general algorithm for automatic lesion segmentation in dermoscopy images"</a></div>
				<div>Tajeddin, Neda Zamani and Asl, Babak Mohammadzadeh</div>
				<div><span class="literature-emphasis">Biomedical Engineering and 2016 1st International Iranian Conference on Biomedical Engineering (ICBME), 2016 23rd Iranian Conference on</span>, IEEE, 134--139.</div>
			</td>
		</tr>
		</tbody>
	</table>


</div>