<div class="inner-page-content">

	<h2 class="main-subtitle2">Literature</h2>

	<table class="inner-table">
		<thead class="inner-table-head">
		<tr>
			<th class="literature-col-year">Year</th>
			<th class="literature-col-type">Type</th>
			<th class="literature-col-publication">Publication</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td>2019</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/pii/S001048251830372X" target="_blank" rel="noopener">"Attention Residual Learning for Skin Lesion Classification"</a></div>
				<div>Zhang J, Xie Y, Xia Y, Shen C</div>
				<div><span class="literature-emphasis">IEEE transactions on medical imaging</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/pii/S001048251830372X" target="_blank" rel="noopener">"Domain-specific classification-pretrained fully convolutional
					network encoders for skin lesion segmentation"</a></div>
				<div>Tschandl P, Sinz C, Kittler H</div>
				<div><span class="literature-emphasis">Computers in biology and medicine</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/pii/S1386505618307470" target="_blank" rel="noopener">"Melanoma lesion detection and segmentation
					using deep region based convolutional neural network and fuzzy C-means clustering"</a></div>
				<div>Nida N, Irtaza A, Javed A, Yousaf MH, Mahmood MT</div>
				<div><span class="literature-emphasis">International journal of medical informatics</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Other</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/30458354" target="_blank" rel="noopener">"Fusing fine-tuned deep features for skin lesion classification"</a></div>
				<div>Mahbod A, Schaefer G, Effinger I, Ecker R, Pitiot A, Wang CL</div>
				<div><span class="literature-emphasis">Computerized Medical Imaging Graph</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Other</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/30768826" target="_blank" rel="noopener">"Construction of saliency map and hybrid set of features
					for efficient segmentation and classification of skin lesion"</a></div>
				<div>Khan MA, Akram T, Sharif M, Saba T, Javed K, Lali IU</div>
				<div><span class="literature-emphasis">Microscopy research and technique</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.researchgate.net/publication/329068301_Segmentation_of_skin_lesions_in_dermoscopy_images_using_fuzzy_classification_of_pixels_and_histogram_thresholding" target="_blank" rel="noopener">"Segmentation of skin lesions in dermoscopy images
					using fuzzy classification of pixels and histogram thresholding"</a></div>
				<div>Garcia-Arroyo JL, Garcia-Zapirain B</div>
				<div><span class="literature-emphasis">Computer methods and programs in biomedicine</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2019</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/30703051" target="_blank" rel="noopener">"Dermoscopy Image Analysis: Overview and Future Directions"</a></div>
				<div>Celebi ME, Codella N, Halpern A</div>
				<div><span class="literature-emphasis">IEEE journal of biomedical and health informatics</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Conference</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/30440620" target="_blank" rel="noopener">"Skin Lesion Analysis By Multi-Target Deep Neural Networks"</a></div>
				<div>Yang X, Li H, Wang L, Yeo SY, Su Y, Zeng Z</div>
				<div><span class="literature-emphasis">Annual International Conference of the IEEE Engineering in Medicine and Biology</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8363707" target="_blank" rel="noopener">"Adversarial learning with multi-scale loss for skin lesion segmentation"</a></div>
				<div>Xue Y, Xu T, Huang XL</div>
				<div><span class="literature-emphasis">15th International Symposium on Biomedical Imaging</span>, New York: Ieee; 2018, p. 859-63.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Other</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6091241/" target="_blank" rel="noopener">"The HAM10000 dataset, a large collection of multi-source dermatoscopic images of common pigmented skin lesions"</a></div>
				<div>Tschandl P, Rosendahl C, Kittler H</div>
				<div><span class="literature-emphasis">Scientific data</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/30030916" target="_blank" rel="noopener">"Recent advancement in the early detection of melanoma using computerized tools:
					An image analysis perspective"</a></div>
				<div>Singh N, Gupta SK</div>
				<div><span class="literature-emphasis">Official journal of International Society for Bioengineering and the Skin (ISBS) and International Society for Digital Imaging of Skin (ISDIS) and International Society for Skin Imaging (ISSI)</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://journals.lww.com/amjdermatopathology/Abstract/2018/09000/Practice_of_Teledermatopathology__A_Systematic.6.aspx" target="_blank" rel="noopener">"Practice of Teledermatopathology: A Systematic Review"</a></div>
				<div>Saleh J</div>
				<div><span class="literature-emphasis">The American Journal of dermatopathology</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Other</td>
			<td>
				<div><a href="https://www.researchgate.net/publication/323590913_Apply_lightweight_deep_learning_on_internet_of_things_for_low-cost_and_easy-to-access_skin_cancer_detection" target="_blank" rel="noopener">"Apply Lightweight Deep Learning on Internet of Things for Low-Cost and Easy-To-Access Skin Cancer Detection"</a></div>
				<div>Sahu P, Yu DT, Qin H, Zhang J, Chen PH</div>
				<div><span class="literature-emphasis">Medical Imaging 2018: Imaging Informatics for Healthcare, Research, and Applications. Proceedings of SPIE</span>, Bellingham: Spie-Int Soc Optical Engineering.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/abs/pii/S0895611118303355" target="_blank" rel="noopener">"Automatic histologically-closer classification of skin lesions"</a></div>
				<div>Reboucas Filho PP, Peixoto SA, Medeiros da Nobrega RV, Hemanth DJ, Medeiros AG, Sangaiah AK</div>
				<div><span class="literature-emphasis">The official journal of the Computerized Medical Imaging Society</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8334627" target="_blank" rel="noopener">"Accurate segmentation and registration of skin lesion images to evaluate lesion change"</a></div>
				<div>Navarro F, Escudero-Vinolo M, Bescos J</div>
				<div><span class="literature-emphasis">IEEE journal of biomedical and health informatics</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5768444" target="_blank" rel="noopener">"Results of the 2016 International Skin Imaging Collaboration International
					Symposium on Biomedical Imaging challenge: Comparison of the accuracy of computer algorithms
					to dermatologists for the diagnosis of melanoma from dermoscopic images"</a></div>
				<div>Marchetti MA, Codella NCF, Dusza SW, Gutman DA, Helba B, Kalloo A</div>
				<div><span class="literature-emphasis">Journal of the American Academy of Dermatology</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://link.springer.com/chapter/10.1007/978-3-319-60699-6_81" target="_blank" rel="noopener">"An implementation of normal distribution based segmentation
					and entropy controlled features selection for skin lesion detection and classification"</a></div>
				<div>Khan MA, Akram T, Sharif M, Shahzad A, Aurangzeb K, Alhussein M</div>
				<div><span class="literature-emphasis">BMC cancer</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.mdpi.com/1424-8220/18/2/556" target="_blank" rel="noopener">"Skin Lesion Analysis towards Melanoma Detection Using Deep Learning Network"</a></div>
				<div>Li Y, Shen L</div>
				<div><span class="literature-emphasis">Sensors (Basel, Switzerland)</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8353143" target="_blank" rel="noopener">"Fully Convolutional Neural Networks to Detect Clinical Dermoscopic Features"</a></div>
				<div>Kawahara J, Hamarneh G</div>
				<div><span class="literature-emphasis">IEEE journal of biomedical and health informatics</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8555968" target="_blank" rel="noopener">"Automated skin lesion segmentation of dermoscopic images
					using GrabCut and k-means algorithms"</a></div>
				<div>Jaisakthi SM, Mirunalini P, Aravindan C</div>
				<div><span class="literature-emphasis">IET Computer Vision</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.researchgate.net/publication/328018223_A_Novel_Skin_Lesion_Detection_Approach_Using_Neutrosophic_Clustering_and_Adaptive_Region_Growing_in_Dermoscopy_Images" target="_blank" rel="noopener">"A Novel Skin Lesion Detection Approach Using Neutrosophic Clustering
					and Adaptive Region Growing in Dermoscopy Images"</a></div>
				<div>Guo YH, Ashour AS, Smarandache F</div>
				<div><span class="literature-emphasis">Symmetry-Basel. 2018</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8301391" target="_blank" rel="noopener">"A Novel Algorithm for Segmenting Dermoscopic Images"</a></div>
				<div>Guarracino MR, Maddalena L</div>
				<div><span class="literature-emphasis">IEEE journal of biomedical and health informatics</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Conference</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1710.05006.pdf" target="_blank" rel="noopener">"Skin lesion analysis toward melanoma detection:
					a challenge at the 2017 International Symposium on Biomedical Imaging (ISIBI),
					hosted by The International Skin Imaging Collaboration (ISIC)"</a></div>
				<div>Codella NCF, Gutman D, Celebi ME, Helba B, Marchetti MA, Dusza SW</div>
				<div><span class="literature-emphasis">2018 IEEE 15th International Symposium on Biomedical Imaging</span>, New York: IEEE; 2018. p. 168-72.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/abs/pii/S1746809417302379" target="_blank" rel="noopener">"Optimal selection of features using wavelet fractal descriptors
					and automatic correlation bias reduction for classifying skin lesions"</a></div>
				<div>Chatterjee S, Dey D, Munshi S</div><div><span class="literature-emphasis">Biomed Signal Process Contro</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Transforming+Dermatologic+Imaging+for+the+Digital+Era%3A+Metadata+and+Standards" target="_blank" rel="noopener">"Transforming dermatologic imaging for the digital era:
					metadata and standards"</a></div>
				<div>Caffery LJ, Clunie D, Curiel-Lewandrowski C, Malvehy J, Soyer HP, Halpern AC</div>
				<div><span class="literature-emphasis">Journal of digital imaging</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Other</td>
			<td>
				<div><a href="http://kth.diva-portal.org/smash/get/diva2:1109613/FULLTEXT01.pdf" target="_blank" rel="noopener">"A novel optimized neutrosophic k-means using genetic algorithm
					for skin lesion detection in dermoscopy images"</a></div>
				<div>Ashour AS, Hawas AR, Guo YH, Wahba MA</div>
				<div><span class="literature-emphasis">Signal Image Video Process</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2018</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.sciencedirect.com/science/article/pii/S1568494618302643" target="_blank" rel="noopener">"A hybrid dermoscopy images segmentation approach
					based on neutrosophic clustering and histogram estimation"</a></div>
				<div>Ashour AS, Guo YH, Kucukkulahli E, Erdogmus P, Polat K</div>
				<div><span class="literature-emphasis">Applied Soft Computing</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="http://www.diva-portal.org/smash/get/diva2:1112097/FULLTEXT01.pdf" target="_blank" rel="noopener">"Automatic skin lesion analysis towards melanoma detection"</a></div>
				<div>Thao LT, Quang NH, Bui LT, Binh HTT, Nguyen VG, Namatame A, Ong YS, Nguyen TT</div>
				<div><span class="literature-emphasis">2017 21st Asia Pacific Symposium on Intelligent and Evolutionary Systems (IES)</span>, New York: IEEE; 2017. 106-11 p.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/stamp/stamp.jsp?tp=&arnumber=7819474" target="_blank" rel="noopener">"Melanoma is skin deep:
					a 3D reconstruction technique for computerized dermoscopic skin lesion classification"</a></div>
				<div>Satheesha TY, Satyanarayana D, Prasad MN, Dhruve KD</div>
				<div><span class="literature-emphasis">IEEE J Transl Eng Health Med-JTEHM</span>, 2017;5:17.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://arxiv.org/pdf/1703.00856.pdf" target="_blank" rel="noopener">"Melanoma skin cancer detection using color and new texture features"</a></div>
				<div>Nezhadian FK, Rashidi S</div>
				<div><span class="literature-emphasis">2017 Artificial Intelligence and Signal Processing Conference (AISP)</span>, New York: IEEE; 2017. 1-5 p.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8217826" target="_blank" rel="noopener">"Deep learning for skin lesion segmentation"</a></div>
				<div>Mishra R, Daescu O, Hu XH, Shyu CR, Bromberg Y, Gao J, Gong Y, Korkin D</div>
				<div><span class="literature-emphasis">2017 Ieee International Conference on Bioinformatics and Biomedicine. IEEE International Conference on Bioinformatics and Biomedicine-BIBM</span>, New York: IEEE; 2017.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://www.triage.com/publications/cRomero-Lopez.pdf" target="_blank" rel="noopener">"Skin lesion classification from dermoscopic images
					using deep learning techniques"</a></div>
				<div>Lopez AR, Giro-i-Nieto X, Burdick J, Marques O, Kiss R, Thurner PJ</div>
				<div><span class="literature-emphasis"></span>New York: IEEE; 2017. 49-54 p.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Technique+Standards+for+Skin+Lesion+Imaging+A+Delphi+Consensus+Statement" target="_blank" rel="noopener">"Technique standards for skin lesion imaging a delphi consensus statement"</a></div>
				<div>Katragadda C, Finnane A, Soyer HP, Marghoob AA, Halpern A, Malvehy J</div>
				<div><span class="literature-emphasis">JAMA dermatology</span>, 2017; 153(2):207-13.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://biomedicalcomputervision.uniandes.edu.co/images/papers/gh_sipaim2017.pdf" target="_blank" rel="noopener">"Recognition of skin melanoma through dermoscopic image analysis"</a></div>
				<div>Gomez C, Herrera DS, Romero E, Lepore N, Brieva J, Garcia JD</div>
				<div><span class="literature-emphasis">13th International Conference on Medical Information Processing and Analysis. Proceedings of SPIE. 10572</span>Bellingham: Spie-Int Soc Optical Engineering; 2017.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Proposed+Technical+Guidelines+for+the+Acquisition+of+Clinical+Images+of+Skin-Related+Conditions" target="_blank" rel="noopener">"Proposed Technical Guidelines for the Acquisition of Clinical Images of Skin-Related Conditions"</a></div>
				<div>Finnane A, Curiel-Lewandrowski C, Wimberley G, Caffery L, Katragadda C, Halpern A</div>
				<div><span class="literature-emphasis">JAMA dermatology</span>2017; 153(5):453-7.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/8079594" target="_blank" rel="noopener">"Detection of skin disease using metaheuristic supported artificial neural networks"</a></div>
				<div>Chakraborty S, Mali K, Chatterjee S, Banerjee S, Mazumdar KG, Debnath M</div>
				<div><span class="literature-emphasis">2017 8th Annual Industrial Automation and Electromechanical Engineering Conference</span>, New York: IEEE; 2017. 224-9 p.</div>
			</td>
		</tr>
		<tr>
			<td>2017</td>
			<td>Journal</td>
			<td>
				<div><a href="https://uni-obuda.hu/journal/Castillejos-Fernandez_Lopez-Ortega_Castro-Espinoza_Ponomaryov_74.pdf" target="_blank" rel="noopener">"An intelligent system for the diagnosis of skin cancer on digital images taken with dermoscopy"</a></div>
				<div>Castillejos-Fernandez H, Lopez-Ortega O, Castro-Espinoza F, Ponomaryov V</div>
				<div><span class="literature-emphasis">Acta Polytech Hung. 2017;14(3):169-85</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/7829739" target="_blank" rel="noopener">"Aiming for the cloud - a study of implanted battery-free temperature sensors using NFC"</a></div>
				<div>Wikner JJ, Zotterman J, Jalili A, Farnebo S</div>
				<div><span class="literature-emphasis">2016 International Symposium on Integrated Circuits. International Symposium on Integrated Circuits</span>, New York: IEEE.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/7890944" target="_blank" rel="noopener">"A general algorithm for automatic lesion segmentation in dermoscopy images"</a></div>
				<div>Tajeddin NZ, Asl BM</div>
				<div><span class="literature-emphasis"> 2016 23rd Iranian Conference on Biomedical Engineering</span>, New York: IEEE; 2016. 129-34 p.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="http://ieeexplore.ieee.org/document/7821017" target="_blank" rel="noopener">"Classification of dermoscopy patterns using deep convolutional neural networks"</a></div>
				<div>Demyanov S, Chakravorty R, Abedini M, Halpern A, Garnavi R</div>
				<div><span class="literature-emphasis">2016 13th International Symposium on Biomedical Imaging. IEEE International Symposium on Biomedical Imaging</span>, New York: IEEE.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="https://www.ncbi.nlm.nih.gov/pubmed/?term=Technique+Standards+for+Skin+Lesion+Imaging%3A+A+Delphi+Consensus+Statement" target="_blank" rel="noopener">"Technique Standards for Skin Lesion Imaging:
					A Delphi Consensus Statement"</a></div>
				<div>Katragadda C, Finnane A, Soyer HP, Marghoob AA, Halpern A, Malvehy J</div>
				<div><span class="literature-emphasis">JAMA dermatology</span>.</div>
			</td>
		</tr>
		<tr>
			<td>2016</td>
			<td>Conference</td>
			<td>
				<div><a href="https://ieeexplore.ieee.org/document/7590960" target="_blank" rel="noopener">"Multi-scale classification based lesion segmentation for dermoscopic images."</a></div>
				<div>Abedini M, Codella N, Chakravorty R, Garnavi R, Gutman D, Helba B</div>
				<div><span class="literature-emphasis">2016 38th Annual International Conference of the Ieee Engineering in Medicine and Biology Society. IEEE Engineering in Medicine and Biology Society Conference Proceedings</span>, New York: IEEE; 2016. p. 1361-4.</div>
			</td>
		</tr>
		</tbody>
	</table>

</div>