<div class="inner-page-content">

	<h2 class="main-subtitle2">Technique Working Group:</h2>

	<div class="inner-descr-row">
		<div class="descr-list-title">Clara Curiel, MD (Co-leader)</div>
		<div class="descr-list-info">University of Arizona Cancer Center, Tucson, AZ</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">H. Peter Soyer, MD (Co-leader)</div>
		<div class="descr-list-info">The University of Queensland, Brisbane, Australia.</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Ivo Abraham, PhD, RN</div>
		<div class="descr-list-info">The University of Arizona College of Pharmacy</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Liam Caffery, PhD</div>
		<div class="descr-list-info">The University of Queensland, Brisbane, Australia</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Dennis DaSilva, BS</div>
		<div class="descr-list-info">Canfield Scientific Inc., Fairfield, New Jersey, US</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Anna Finnane, PhD</div>
		<div class="descr-list-info">The University of Queensland, Brisbane, Australia</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Whitney High, MD, JD, Meng</div>
		<div class="descr-list-info">University of Colorado, Aurora, Colorado, USA</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Chinmayee Katragadda, PhD</div>
		<div class="descr-list-info">The University of Arizona College of Pharmacy</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Lynne Morrison, MD</div>
		<div class="descr-list-info">Oregon Health and Science University, Portland, Oregon, USA</div>
	</div>

	<h2 class="main-subtitle2">Terminology Working Group:</h2>

	<div class="inner-descr-row">
		<div class="descr-list-title">Harald Kittler, MD (Leader)</div>
		<div class="descr-list-info">Department of Dermatology, Medical University of Vienna, Austria</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Giuseppe Argenziano, MD</div>
		<div class="descr-list-info">Arcispedale S. Maria Nuova, Reggio Emilia, Italy</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Ralph P. Braun, MD</div>
		<div class="descr-list-info">University Hospital of Zurich, Switzerland</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Rainer Hofmann Wellenhof, MD</div>
		<div class="descr-list-info">Medical University of Graz, Austria</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Josep Malvehy, MD</div>
		<div class="descr-list-info">Hospital Clinic of Barcelona</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Ashfaq Marghoob, MD</div>
		<div class="descr-list-info">Memorial Sloan Kettering Cancer Center</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Scott W. Menzies, MD</div>
		<div class="descr-list-info">University of Sydney at the Sydney Cancer Centre, Australia</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Matt Molenda, MD</div>
		<div class="descr-list-info">ProMedica, Cleveland Clinic Innovations, Molenda Consulting, LLC</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Susanna Puig, MD</div>
		<div class="descr-list-info">Hospital Clinic of Barcelona, Spain</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Alon Scope, MD</div>
		<div class="descr-list-info">Sheba Medical Center and Sackler Faculty of Medicine, Tel Aviv, Israel</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Peter Soyer, MD</div>
		<div class="descr-list-info">University of Queensland, Brisbane, AU</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">William V. Stoecker,  MD, MS</div>
		<div class="descr-list-info">University of Missouri Health School of Medicine Department of Dermatology</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Wilhelm Stolz, MD</div>
		<div class="descr-list-info">Munich Municipal Hospital Group, Germany</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Luc Thomas, MD, PhD</div>
		<div class="descr-list-info">University Claude Bernard Lyon and Cancer Research Center of Lyon, France</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Shannon Trotter, DO</div>
		<div class="descr-list-info">Ohio State University</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Philip Tschandl, MD</div>
		<div class="descr-list-info">Department of Dermatology, Medical University of Vienna</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Iris Zalaudek, MD</div>
		<div class="descr-list-info">Medical University of Graz, Austria</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Jennifer Stein, MD</div>
		<div class="descr-list-info">New York University, New York, NY</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Konstantinos Liopyris, MD</div>
		<div class="descr-list-info">Memorial Sloan Kettering Cancer Center, New York and Andreas Sygros Hospital of Skin and Venereological Disease, Athens, Greece</div>
	</div>


	<h2 class="main-subtitle2">Technology Working Group:</h2>

	<div class="inner-descr-row">
		<div class="descr-list-title">Liam Caffery, PhD</div>
		<div class="descr-list-info">University of Queensland, Brisbane, Australia</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Doug Canfield, BS</div>
		<div class="descr-list-info">Canfield Scientific Inc., Fairfield, New Jersey, USA</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Noel Codella, PhD</div>
		<div class="descr-list-info">IBM T.J. Watson Research Center, Yorktown Heights, New York</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Clara Curiel, MD</div>
		<div class="descr-list-info">University of Arizona Cancer Center and Section of Dermatology, Tucson, AZ</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Rafael Garcia, PhD</div>
		<div class="descr-list-info">University of Girona, Girona, Spain</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Miron Josipovic</div>
		<div class="descr-list-info">Derma Medical Systems, Austria</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Peter Klar</div>
		<div class="descr-list-info">Visiomed AG, Bielefeld, Germany</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Josep Malvehy, MD</div>
		<div class="descr-list-info">Hospital Clinic of Barcelona</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Andreas Mayer</div>
		<div class="descr-list-info">FotoFinder Systems, Inc., Bad Birnbach, Germany</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Ferdinand Mayer</div>
		<div class="descr-list-info">FotoFinder System, Inc.</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Matt Molenda, MD</div>
		<div class="descr-list-info">ProMedica, Toledo, USA</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Nizar Mullani, BSc</div>
		<div class="descr-list-info">3GEN LLC and TransLite LLC, USA</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Giovanni Pellacani, MD</div>
		<div class="descr-list-info">University of Modena and Reggio Emilia, Italy</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Susanna Puig, MD</div>
		<div class="descr-list-info">Hospital Clinic of Barcelona, Spain</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Josep Quintana, PhD</div>
		<div class="descr-list-info">University of Girona, Girona, Spain</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Victor Skladnev</div>
		<div class="descr-list-info">AIMEDICS Pty Ltd</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">William Stoecker, MD</div>
		<div class="descr-list-info">University of Missouri Health System, USA</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Emre Celebi, PhD</div>
		<div class="descr-list-info">University of Central Arkansas</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">David Mann</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Dirk Holler</div>
	</div>


	<h2 class="main-subtitle2">DICOM Working Group:</h2>

	<div class="inner-descr-row">
		<div class="descr-list-title">Liam Caffery, PhD (Co-leader)</div>
		<div class="descr-list-info">University of Queensland, Brisbane, Australia</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Josep Malvehy, MD (Co-leader)</div>
		<div class="descr-list-info">Hospital Clinic of Barcelona</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Veronica Rotemberg, MD PhD</div>
		<div class="descr-list-info">Memorial Sloan Kettering Cancer Center, New York</div>
	</div>
	<div class="inner-descr-row">
		<div class="descr-list-title">Kelly Nelson, MD</div>
		<div class="descr-list-info">MD Anderson Cancer Center, University of Texas</div>
	</div>

</div>