.code-tabbar .webix_after_all_tabs {
  background: none;
  border: none;
}

.page-wrapper {
  position: relative;
  z-index: 10;
  background-color: #F3F7F9;
  min-height: 100%;
  padding-bottom: 1px;
}

.content {
  position: relative;
  z-index: 30;
}

.content a:-webkit-any-link {
  text-decoration: underline !important;
}

.content h1 {
  font-size: 25px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 21px;
  padding-left: 28px;
  margin-top: 2em;
  border-bottom: 1px solid #ccc;
  background-color: #fdfdfd;
}

.content h1:first-child, .content div:first-child + h1 {
  margin-top: 0;
}

.content > h2, .content > h3, .content > h4, .content > h5, .content > h6, .content > p, .content > table, .content > ul, .content > ol, .content > aside, .content > dl {
  padding: 0 40px;
  box-sizing: border-box;
  display: block;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
  font-weight: bold;
}

.content h2, .content h3, .content h4, .content h5, .content h6, html, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
}

.content p, .content li, .content dt, .content dd {
  line-height: 1.6;
  margin-top: 0;
}

.content > ul, .content > ol {
  padding-left: 43px;
}

.content:after {
  content: '';
  display: block;
  clear: both;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0;
}

.content table {
  margin-bottom: 1em;
  overflow: auto;
}

.content table tr:nth-child(odd) > td {
  background-color: white;
}

.content table tr:last-child {
  border-bottom: 1px solid #ccc;
}

.content table th {
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
  vertical-align: bottom;
}

.content table td {
  padding: 10px;
}
.content table th, .content table td {
  text-align: left;
  vertical-align: top;
  line-height: 1.6;
}

.content table tr:nth-child(even) > td {
  background-color: #fbfcfd;
}
.content table td {
  padding: 10px;
}

.content table th, .content table td {
  text-align: left;
  vertical-align: top;
  line-height: 1.6;
}

.code-samples pre {
  padding-top: 2em;
  padding-bottom: 2em;
  padding: 2em 28px;
}
.code-samples pre, .code-samples blockquote {
  color: black;
  margin: 0;
  padding-left: 30px;
  clear: right;
  box-sizing: border-box;
}

.code-samples pre > code {
  background-color: transparent;
  padding: 0;
}

.code-samples code {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 3px;
  border-radius: 3px;
}

.code-samples code, .code-samples pre {
  font-family: Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace, serif;
  font-size: 12px;
  line-height: 1.5;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.hljs-title,
.css .hljs-rule,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function .hljs-preprocessor,
.hljs-pragma {
  color: #bababa;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #6896ba;
}

.hljs-tag .hljs-value,
.hljs-code,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #cb7832;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.css .hljs-attribute {
  color: #cb7832;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #b9b9b9;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url,
.hljs-name {
  color: #e0c46c;
}

.hljs-comment,
.hljs-annotation,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #7f7f7f;
}

.hljs-decorator {
  color: #bab429;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}